.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: radial-gradient(black, transparent);;
    position: absolute;
    bottom: 0;
    width: 70%;
    z-index: 1;
    color: #fff;
}
.betControls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
}

.spinButton {
    padding: 15px 30px;
    font-size: 24px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.betText {
    font-size: 20px;
}
.musicButton {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}
.infoButton {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}
.homeButton {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px 0;
    cursor: pointer;
}

.buttonControls {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: absolute;
    width: 50%;
    float: left;
    text-align: center;
}