.panel {
    display: block;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: radial-gradient(#020808, transparent 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: #fff;
}
.buttonControls {
    display: block;
    margin-bottom: 20px;
    width: 50%;
    text-align: center;
    float: left;
}
.spinControl{
    /* width: 50%; */
}
.balance {
    width: 35%;
    float: left;
}
.buttonInfo{
    width: 65%;
}
.betText {
    font-size: 20px;
}
.winText {
    font-size: 20px;
    float: right;
}


@media screen and (max-width: 800px) {
.panel {
    display: flex;
}
}
.betControls {
    display: flex;
    align-items: center;
    /* margin-bottom: 20px; */
}

.button {
    padding:  0px 15px 0px 0px;
    margin-left: 15px;
    font-size: 18px;
}

.spinButton {
    padding: 0px 10px 0px 10px;
    font-size: 24px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.musicButton {
    padding: 0px 16px 0px 0px;
    font-size: 18px;
    cursor: pointer;
}
.infoButton {
    padding: 0px 16px 0px 0px;
    font-size: 18px;
    cursor: pointer;
}
.homeButton {
    padding: 0px 16px 0px 0px;
    font-size: 18px;
    cursor: pointer;
}



.winUl{
    display: flex; 
    list-style-type: none; 
    padding: 0;
}
.winUl li{
    background-color: #28a745;
    padding: 5px;
    margin: 2px;
}