/* components/Loading.module.css */
.loadingContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    height: 100vh; /* Full viewport height */
    background-color: #232b53; /* Optional background color */
  }
  
  .progressBar {
    height: 10px; /* Height of the progress bar */
    width: 100%; /* Full width of the parent container */
    max-width: 400px; /* Set a max width for the progress bar */
    background-color: #f3f3f3; /* Background for the progress bar track */
    border-radius: 5px; /* Optional rounded corners */
    overflow: hidden; /* Ensure inner content stays within bounds */
      position: absolute;
  }
  
  .progressFill {
    height: 100%; /* Fill the entire height of the progress bar */
    background-color: #4caf50; /* Color of the progress fill */
    transition: width 0.1s ease-in-out; /* Smooth transition */
  }
  
  .progressText {
    margin-top: 10px;
    font-size: 20px;
  }

  .background {
    position: 'absolute';
    top: 0;
    left: 0;
    width: '100%';
    height: '100%';
    object-fit: 'cover';
    z-index: -1;
}